<div id="intro">
    <div id="pic">
        <div class="photo">
            <img src="/img/profile.jpg" class="profile-photo" style="cursor: pointer" />
        </div>
    </div>
    <h1>Kyle Nguyen</h1>
    <h2>Coder by Day, Yogi By Night</h2>
    <p>(Jedi Mind Tricks When I Feel Like It)</p>
</div>