<html>
<head>
    <!--
        Are you doing cool things with the latest tech?
        Let's work together: dbo.kylenguyen@gmail.com
    -->
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kyle Nguyen — i am the engineer you're looking for — flashcards</title>

    <!--begin styling-->
    <link href="/css/foundation.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="/css/randomair.css" rel="stylesheet">

</head>
<body>
    <div id="app"></div>

    <script async defer src="/js/randomair.js"></script>
</body>
</html>