body {
    font-family: Roboto,'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f0;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    margin: 0 auto;
    padding: 0 2em;
}

#logo {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background-color: rgba(11, 51, 56, 1);
    color: #fff;
}

.pop {
    color: #e0e551;
}

.create-card-button.disabled, .disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #ccc;
}

.flashcard {

}

.flashcard {
    width: 30em;
    height: 15em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    box-shadow: 2px 3px 23px rgba(0, 0, 0, 0.1);
    padding: 1em 1em;
    margin-top: 5em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
@media (max-width: 600px) {
    .flashcard {
        width: 25em;
    }
}

.flashcard.back {
    -webkit-animation: flipInY 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: flipInY 1.5s; /* Firefox < 16 */
    -ms-animation: flipInY 1.5s; /* Internet Explorer */
    -o-animation: flipInY 1.5s; /* Opera < 12.1 */
    animation: flipInY 1.5s;
}

@media (max-height: 823px) {
    .flashcard {
        margin-top: 5em;
    }
}

.flashcard-flip-card {
    position: absolute;
    top: 4%;
    right: 5%;
    cursor: pointer;
    color: #333;
}

.flashcard-counter {
    position: absolute;
    left: 5%;
    top: 5%;
}

.flashcard-content-front {
    -webkit-animation: fadeInUp 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeInUp 0.5s; /* Firefox < 16 */
    -ms-animation: fadeInUp 0.5s; /* Internet Explorer */
    -o-animation: fadeInUp 0.5s; /* Opera < 12.1 */
    animation: fadeInUp 0.5s;
}

.flashcard-content-back {
    /*-webkit-animation: fadeIn 0.6s; !* Safari, Chrome and Opera > 12.1 *!*/
    /*-moz-animation: fadeIn 0.6s; !* Firefox < 16 *!*/
    /*-ms-animation: fadeIn 0.6s; !* Internet Explorer *!*/
    /*-o-animation: fadeIn 0.6s; !* Opera < 12.1 *!*/
    /*animation: fadeIn 0.6s;*/
}

.flashcard-actions {
    position: absolute;
    bottom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    left: 0;
}

.flashcard-prev-button, .flashcard-next-button, .add-card-button {
    margin-right: 0.5em;
    padding: 0.5em 0.75em;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    color: #444;
}

.flashcard-prev-button, .flashcard-next-button {
    background: #F1F1F1;
}

.flashcard-prev-button.disabled, .flashcard-next-button.disabled {
    cursor: not-allowed;
    color: #ccc;
}

.flashcard-prev-button:hover, .flashcard-next-button:hover, .add-card-button:hover {
    background: #d8d8d8;
}

.dots-nav-wrapper {
    padding: 1em 0em;
    margin-top: 1em;
    text-align: center;
}

.dots-nav-dot {
    margin: 0 1em;
    cursor: pointer;
    color: #d3d3d3;
}

.dots-nav-dot.active {
    color: #1779ba;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.add-card-wrapper {
    position: relative;
    top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.add-card-button {
    background-color: #e3e3e3;
}

/**
    CREATE CARD STYLES
**/

.create-card {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-card-shadow {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 101;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.create-card-body {
    position: absolute;
    height: 20em;
    width: 30em;
    z-index: 1000;
    background: rgba(255,255,255,0.95);
    animation: fadeIn 0.5s;
    text-align: center;
    box-shadow: inset 0px 0px 0px 3px gray;
    outline: 4px solid white;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
}

.create-card-body h1 {
    font-size: 1.3em;
    margin-top: 2.5em;
    color: #333;
}

.create-card-input-wrapper {
    text-align: center;
}

.create-card-input-wrapper input {
    margin: 0.75em 0;
    padding: 0.5em 1em;
    width: 70%;
}

.create-card-button {
    border: 1px solid;
    background: white;
    color: #333;
    cursor: pointer;
    margin-top: 1.75em;
    padding: 0.5em 0.75em;
}

.create-card-button:focus {
    outline: none;
}

.book-flights-here {
}

.span6 {
    width: 50%;
    float: left;
}

.clearfix {
    clear: both;
}