/**
    AUTHOR:         KYLE NGUYEN
    CREATED DATE:   01/03/2017
    PURPOSE:
    MODIFIED:       10/05/2017
**/

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #e0e551;
    background-color: rgba(22, 71, 76, 1);
    margin: 0;
    padding: 0;
}

#dots-container {
    position: relative;
    background-color: rgba(11, 51, 56, 1);
    background-image: radial-gradient(circle 90vh, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.40));
}

.dot {
    display:block;
    position: absolute;
    height: 3px;
    width: 3px;
    background-color: #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.dot-blur1 {
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.dot-blur2 {
    -ms-filter: blur(2px);
    filter: blur(2px);
}

#intro {
    position: absolute;
    left: 0;
    width: 400px;
    text-align: center;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

#pic {
    left: 0;
    top: 0;
    margin: 0 auto 15px;
    position: relative;
}

.photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
}

.profile-photo {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
}

.social-anchor {
    margin: 30px 0 0 0;
}

.anchor-item {
    padding: 0 15px 0 15px;
    color: #999;
}

.anchor-item a, .anchor-item a:active, .anchor-item a:visited {
    color: #999;
    text-decoration: none;
}

.anchor-item a:hover {
    color: #e0e551;
}

h1, h2 {
    position: relative;
}

.name {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.blurb {
    color: #999;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: 0.12em;
}

.blurb2 {
    line-height: 2em;
    font-size: 12px;
    margin-top: 0px;
    letter-spacing: 2px;
    color: #999;
    text-transform: lowercase;
    text-decoration: none;
}

a.blurb2:hover {
    color: #e0e551;
    cursor: pointer;
}