article, aside, footer, header, div, section {
    display: block;
}

*, :after, :before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Roboto', serif;
}

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0
}

@media print, screen and (min-width:40em) {
    h1 {
        font-size: 3rem
    }
    h2 {
        font-size: 2.5rem
    }
    h3 {
        font-size: 1.9375rem
    }
    h4 {
        font-size: 1.5625rem
    }
    h5 {
        font-size: 1.25rem
    }
    h6 {
        font-size: 1rem
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: inherit;
    text-rendering: optimizeLegibility
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    line-height: 0;
    color: #cacaca
}
h1 {
    font-size: 1.5rem
}
h1, h2 {
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

.row {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto
}
.row:after, .row:before {
    display: table;
    content: " "
}
.row:after {
    clear: both
}
.row.collapse>.column, .row.collapse>.columns {
    padding-right: 0;
    padding-left: 0
}
.row .row {
    margin-right: -.625rem;
    margin-left: -.625rem
}
@media print, screen and (min-width:40em) {
    .row .row {
        margin-right: -.9375rem;
        margin-left: -.9375rem
    }
}
@media print, screen and (min-width:64em) {
    .row .row {
        margin-right: -.9375rem;
        margin-left: -.9375rem
    }
}
.row .row.collapse {
    margin-right: 0;
    margin-left: 0
}
.row.expanded {
    max-width: none
}
.row.expanded .row {
    margin-right: auto;
    margin-left: auto
}
.row.gutter-small>.column, .row.gutter-small>.columns {
    padding-right: .625rem;
    padding-left: .625rem
}
.row.gutter-medium>.column, .row.gutter-medium>.columns {
    padding-right: .9375rem;
    padding-left: .9375rem
}

.top-bar {
    padding: .5rem
}
.top-bar:after, .top-bar:before {
    display: table;
    content: " "
}
.top-bar:after {
    clear: both
}
.top-bar, .top-bar ul {
    background-color: #e6e6e6
}
.top-bar input {
    max-width: 200px;
    margin-right: 1rem
}
.top-bar .input-group-field {
    width: 100%;
    margin-right: 0
}
.top-bar input.button {
    width: auto
}
.top-bar .top-bar-left, .top-bar .top-bar-right {
    width: 100%
}
@media print, screen and (min-width:40em) {
    .top-bar .top-bar-left, .top-bar .top-bar-right {
        width: auto
    }
}
@media screen and (max-width:63.9375em) {
    .top-bar.stacked-for-medium .top-bar-left, .top-bar.stacked-for-medium .top-bar-right {
        width: 100%
    }
}
@media screen and (max-width:74.9375em) {
    .top-bar.stacked-for-large .top-bar-left, .top-bar.stacked-for-large .top-bar-right {
        width: 100%
    }
}
.top-bar-title {
    display: inline-block;
    float: left;
    padding: .5rem 1rem .5rem 0
}
.top-bar-title .menu-icon {
    bottom: 2px
}
.top-bar-left {
    float: left
}
.top-bar-right {
    float: right
}

.full-width {
    max-width: 1400px;
}

.footer {
    background-color: #2980b9;
    padding: 2rem 4rem;
    text-align: center;
    color: #fff;
}
.footer i {
    font-size: 100px;
}

.footer h4 {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
}
.footer p, .footer a {
    font-weight: 300;
    font-size: .8em;
    color: #fff;
}

@media only screen and (min-width: 40.063em) {
    .footer .columns:nth-child(n+2) {
        border-left: 1px solid #b3b3b3;
        min-height: 280px;
    }
}
.footer-links {
    list-style-type: none;
}
.footer-links li {
    margin-top: .5em;
}

#logo {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background-color: rgba(11, 51, 56, 1);
    color: #fff;
}

.pop {
    color: #e0e551;
}

.random-city {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    /*background: url("/img/place_01.jpg") no-repeat center;*/
    margin: 0 auto;
    padding-top: 2em;
    height: 20em;
    width: 100%;
}

.welcome-blurb {
    color: #fff;
    font-family: 'Roboto', serif;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.44);
}

/**
    FLIGHT BOOKER!
**/

div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.flight-booker-wrapper {
    margin-top: -100px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Roboto', serif;
}

.flight-inputs {
    margin-bottom: 20px;
}

.widgets {
    /*background: #0078d2;*/
    /**zoom: 1;*/
    /*filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0078D2', endColorstr='#FF00467F');*/
    /*background: -owg-linear-gradient(#0078d2, #00467f);*/
    /*background: -webkit-linear-gradient(#0078d2, #00467f);*/
    /*background: -moz-linear-gradient(#0078d2, #00467f);*/
    /*background: -o-linear-gradient(#0078d2, #00467f);*/
    /*background: linear-gradient(#0078d2, #00467f);*/
    color: #fff;
    font-size: 100%
}

.widgets-kickout {
    position: relative;
}

.widgets-kickout:before {
    content: " ";
    display: table;
}

.widgets-kickout:after {
    clear: both;
}

.widgets-kickout:after {
    content: " ";
    display: table;
}

.span4 {
    width: 30%;
    float: left;
    margin: 2.13178%;
}

.span8 {
    width: 64%;
}

.span6 {
    float: left;
    width: 50%;
}

.widgets-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 28%;
    height: 100%;
    font-family: 'Roboto', serif;
}

.widgets-flight-info-shadow-chop {
    overflow: hidden;
    margin-top: 23px;
}

.widgets-flight-info {
    width: 69.85%;
    background-color: #fff;
    float: right;
    min-height: 20em;
    margin: 0 23px 23px 23px;
    box-shadow: 0px 5px 23px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.flight-blurb {
    color: #36495a;
    margin-top: 20px;
    font-family: inherit;
}

.why {
    color: rgba(11, 51, 56, 1);
    margin-bottom: 11px;
}

.flight-info-container {
    display: flex;
}

.flight-info-card {
    width: 20%;
    text-align: center;
}

.city {
    font-size: 12px;
    color: #9a9a9a;
    font-weight: bold;
    margin-bottom: 3px;
}

.time {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.price {
    color: #576b81;
}